TELEGRAM_TOKEN=
DATABASE_URL=
GOOGLE_CREDS=
SPREADSHEET_NAME=
ADMIN_CHAT_ID=
OPENWEATHERMAP_API_KEY=
EXCHANGE_RATE_API_KEY=
REDIS_URL=
HUGGINGFACE_API_KEY=
OPENAI_API_KEY=
WEBHOOK_SECRET=
BASE_URL=
PORT=8080
PYTHON_VERSION=3.11.9
QUESTIONS_SHEET_NAME=StudentBotQuestions
SHEET_ID=1EsB54UL819KT2Sy51x2n-aSMDB6BZmA-N03vtNqxwuE
