python-telegram-bot==20.7
psycopg2-binary
redis
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gspread
oauth2client
gTTS
feedparser
schedule
python-dotenv
HuggingFace-hub
sentence-transformers
httpx
torch --extra-index-url https://download.pytorch.org/whl/cpu
transformers
fastapi
uvicorn
asyncpg
sqlalchemy
redis[hiredis]
